.item-animation
	// here animation works
	opacity 0
	transform translateY(40px) scale(1.04)
	transition transform .7s ease .2s, opacity .5s ease .3s
	
	&.visible
		opacity 1
		transform translateY(0) scale(1)