// easing
// ========================

cubic = cubic-bezier(1.000, 0.000, 0.000, 1.000)

// breakpoints
// =======================

siteWidth    = 1170px
desktop      = 1024px
desktopSmall = 992px
tablet       = 768px
mobile       = 640px
oldMobile    = 480px

// onde quebra o menu
// ======================
menuViewPort = 1100px

// cores
// ======================

white            = #fff
black            = #000

lightColorMaster = #eee
lightColorTwo    = #E1D9C7
lightColorExtra  = #8FA177

darkColorMaster  = #7C7A7B
darkColorTwo     = #3a2656
darkColorExtra   = #8FA177


// fonts
// ======================
// font-face('Flexo', 'flexo/flexo-regular', '')
// font-face('Flexo Bold', 'flexo/flexo-black', 'bold')


fontMaster     = 'Open Sans', Tahoma, sans-serif
fontSecond     = 'Droid Serif', Times, serif
