.card
	// ==================
	// alinhamento
	// ==================
	&-center
		@extends .txt-center
		

	// ==================
	// lista
	&-grid
		ul
			@extends .flex
			flex-wrap wrap
					
					
	&-grid--two-cols
		@extends .card-grid
		
		ul
			> li
				flex-basis: 100%;
				max-width: 100%;
				
				@media (min-width tablet)
					flex-basis: 50%;
					max-width: 50%;
				
	&-grid--three-cols
		@extends .card-grid
		
		ul
			> li
				flex-basis: 100%;
				max-width: 100%;
				
				@media (min-width oldMobile) and (max-width tablet - 1)
					flex-basis: 50%;
					max-width: 50%;
					
				@media (min-width tablet)
					flex-basis: 33.333%;
					max-width: 33.333%;
					
	&-grid--four-cols
		@extends .card-grid
		
		ul
			> li
				flex-basis: 100%;
				max-width: 100%;

				@media (min-width oldMobile) and (max-width tablet - 1)
					flex-basis: 50%;
					max-width: 50%;
					
				@media (min-width tablet) and (max-width desktopSmall - 1)
					flex-basis: 33.333%;
					max-width: 33.333%;
					
				@media (min-width desktopSmall)
					flex-basis: 25%;
					max-width: 25%;
					
	&-grid--five-cols
		@extends .card-grid
		
		ul
			> li
				flex-basis: 100%;
				max-width: 100%;
				
				@media (min-width oldMobile) and (max-width tablet - 1)
					flex-basis: 50%;
					max-width: 50%;
					
				@media (min-width tablet) and (max-width desktopSmall - 1)
					flex-basis: 33.333%;
					max-width: 33.333%;
					
				@media (min-width desktopSmall)
					flex-basis: 20%;
					max-width: 20%;


	// ==========================
	// ==========================
		

// image-text
// ===========
.card-image-text
	// @media (min-width menuViewPort)
	// align-items center
	display flex
	flex-wrap wrap
	justify-content center
	width 100%
			
	> div
		@media (max-width menuViewPort - 1)
			text-align center
			
		@media (min-width menuViewPort)
			flex 1 1 0
	> img
		height auto
		margin-bottom 40px
		
		@media (max-width menuViewPort - 1)
			display block
			object-fit cover
			height calc(100vh - 150px)
			margin 0 auto 40px
			max-width 600px
			width 100%
		
		@media (min-width menuViewPort)
			max-width 100%
			padding-right 40px
			

// -image-text invert
// ===========
.card-image-text--invert
	@extends .card-image-text
	flex-direction row-reverse
	
	img
		@media (min-width menuViewPort)
			padding-left 40px
			padding-right 0




// ===================
// ===================

.card-grid--alternate
	custom-size(860px)
	margin-top 40px
	position relative
	
	p
		margin-bottom 20px
		
		@media (min-width menuViewPort)
			font-size 24px
			font-weight 300
			max-width 50%
			
		&:nth-of-type(odd)
			@media (min-width menuViewPort)
				transform translateX(40px)
				
		&:nth-of-type(even)
			@media (min-width menuViewPort)
				margin-left auto
				text-align right
				transform translateX(-40px)


				

// ===================
// ===================

.card-grid--portfolio
	// transform translateX(-30px)
	padding-bottom 30px
	
	ul
		display flex
		justify-content center
		



// ===================
// ===================

.card-grid--service-list
	ul
		display flex
		flex-flow row wrap
		
		li
			background-color rgba(darkColorMaster, .2)
			flex-basis 100%
			// padding 70px 0
			
			// @media (min-width tablet)
			// 	flex-basis 50%
			// 	padding 70px
			
			&:nth-child(odd)
				background-color rgba(darkColorMaster, .4)
