.item-banner--fullscreen
	align-items center
	background-size cover
	color white
	display flex
	flex-flow column wrap
	height 100vh
	justify-content center
	position relative
	
	&:after
		background-color rgba(black, .6)
		content ''
		height 100%
		position absolute
		width 100%
		
.item-banner--fullscreen---primary
.item-banner--fullscreen---second
	position relative
	z-index 2
	
.item-banner--fullscreen---primary
	font-family fontMaster
	font-size 48px
	font-weight 700
	
	h2
		font-family inherit
		font-size inherit
		
		&:after
			display none
	
.item-banner--fullscreen---second
	font-size 36px
	font-weight 300
	



// ====================
// ====================

.item-grid--portfolio---image
	display flex
	position absolute
	right 0





// ====================
// ====================
