.item-banner--fullscreen
	align-items center
	background-size cover
	color white
	display flex
	flex-flow column wrap
	height 100vh
	justify-content center
	position relative
	
	&:after
		background-color rgba(black, .6)
		content ''
		height 100%
		position absolute
		width 100%
		
.item-banner--fullscreen---primary
.item-banner--fullscreen---second
	color white
	position relative
	text-align center
	z-index 2
	
.item-banner--fullscreen---primary
	font-family fontMaster
	font-size 28px
	font-weight 700
	
	@media (min-width desktop)
		font-size 48px

	h2
		font-family inherit
		font-size inherit
		
		&:after
			display none
	
.item-banner--fullscreen---second
	font-size 22px
	font-weight 300
	
	@media (min-width desktop)
		font-size 36px
	

.item-banner--fullscreen---downbutton
	bottom 20px
	left 50%
	position absolute
	transform translateX(-50%)
	z-index 2
	
	a
		align-items center
		// background-color #2899ce
		border-radius 50%
		display flex
		justify-content center
		height 60px
		transition .4s ease
		width 60px
		
		&:hover
			// background-color lighten(#2899ce, 15)




@keyframes scroll
	0%
		transform translateY(0)
	
	30%
		transform translateY(60px)
	

svg #wheel
	animation scroll ease 2s infinite
	





// ====================
// ====================

.item-background-image
	background url(../img/bg-art.jpg)
	background-size cover







// ====================
// ====================

.item-grid--portfolio---image
	align-items baseline
	display flex
	width 100%
	// position absolute
	// right 0

.item-grid--portfolio---screenshot
	img
		@extends .img-max-responsive
		
	> div
		position relative

.item-grid--portfolio---screenshot----mobile
	transform translateY(20px)
	z-index 3

.item-grid--portfolio---screenshot----tablet
	transform translate(-20px, 10px)
	z-index 2
	
.item-grid--portfolio---screenshot----notebook
	transform translate(-60px, -14px)
	z-index 1





// ====================
// ====================

.item-grid--portfolio---text
	background-color #e1caca
	padding 60px 80px

.item-grid--portfolio---text----title
	font 60px fontSecond
	margin-bottom 30px
	

.item-grid--portfolio---text----description
	p
		font-size 14px
		line-height 1.7
		
		+ p
			margin-top 20px




// ====================

.item-grid--service-list---li
	// background-color darkColorTwo
	background-repeat no-repeat
	padding 70px 0
	position relative
	

	&:after
		content ''
		height 100%
		left 0
		position absolute
		top 0
		width 100%
		z-index -1
			
	

	&:nth-of-type(even)
		// background-color lightColorTwo
		background-position right
		
		&:after
			background linear-gradient(to right, white, lightColorTwo)


	&:nth-of-type(odd)
		color white
		
		&:after
			background linear-gradient(to right, #18072f, darkColorTwo)
		

	&:nth-last-of-type(1)
		@media (min-width menuViewPort)
			padding-bottom 100px


.item-grid--service-list---item
	text-align center
	position relative
	z-index 1
	
	p
		custom-size(1024px)
	

.item-grid--service-list---title
	font-family fontSecond
	font-size 24px
	margin-bottom 10px
	line-bottom--center()
	
	img
		height auto
		margin-right 10px
		width 28px
		
	

.item-grid--service-list---icon
	height 120px
	
	svg
		height 120px
		width 120px
		
		
.item-grid--service-list---description
	font-size 15px
	padding 0 10px
	
	p
		line-height 1.8



// =======================

.item-banner-squares--banner
	background-position center
	background-size cover
	padding 100px 20px


.item-banner-squares--text
	padding-bottom 40px
	text-align center





// =======================


.item-job--image
	margin-bottom 30px
	padding 0 40px
	text-align center
	
	img
		height auto
		max-width 100%







// =======================

.item-section--title
	margin-bottom 70px
	

	#services &
		background-color #18072f
		margin-bottom 0
		margin-top 80px
		padding 50px 0
		

		h2
			color white
			
			&:after
				margin-bottom 0
	

	#projects &
		margin-top 100px



.item-section--button
	text-align center
	
	.card-grid--portfolio &
	.card-grid--service-list &
		margin-top 70px

	body.home .grid--portfolio &
		margin-top 60px



// ===============

.item-video--fullscreen
	background url(https://raw.githubusercontent.com/rpessoa21/nsws/master/static/img/_content/angola.jpg) no-repeat
	background-size cover
	max-height 100vh
	overflow hidden
	position relative
	
	@media (max-width menuViewPort - 1)
		height 100vh
	
	
	&:after
		background-color rgba(black, .5)
		content ''
		height 100%
		left 0
		top 0
		position absolute
		width 100%
		z-index 1


	video
		transform scale(1.15)
		
		@media (max-width menuViewPort - 1)
			display none

	



// parallax
// =================

div[class^='item-parallax-']
	position absolute
	z-index -1
	
.item-parallax-1
	background-color rgba(lightColorTwo, .8)
	height 200px
	left 0
	top 0
	transition .4s ease
	width 400px
	
.item-parallax-2
	background-color rgba(darkColorMaster, .4)
	height 260px
	right 0
	top 200px
	transition .8s ease
	width 400px
	

.item-parallax-3
	background-color rgba(black, .1)
	height 500px
	right 0
	top 20px
	transition .8s ease
	width 500px
	

.item-parallax-4
	background-color rgba(darkColorTwo, .6)
	height 80px
	right 8%
	top 0
	transition .8s ease
	width 80px
	

.item-parallax-5
	background-color rgba(darkColorMaster, .4)
	height 60px
	right 6%
	top 120px
	transition .8s ease
	width 60px
	


.item-parallax-6
	background-color rgba(#145c85, .2)
	height 420px
	left 0
	top 20px
	transition .8s ease
	width 420px
	

.item-parallax-7
	background-color rgba(#063c48, .2)
	height 100px
	left 4%
	top 0
	transition .8s ease
	width 100px
	

.item-parallax-8
	background-color rgba(#440648, .1)
	height 60px
	left 10%
	top 200px
	transition .8s ease
	width 60px


// about us
// ============

.item-about-us--wrap
	align-items center
	display flex
	flex-flow row wrap
	justify-content center
	height 100vh
	
	
.item-about-us--float
	margin 0 auto
	max-width 768px
	
	
.item-about-us--title
	margin-bottom 40px
	
	> *
		color white
		text-align center


.item-about-us--text
	color white
	text-align center
	
	p
		line-height 1.7
		
		+ p
			margin-top 20px
			



// contact
// ==========

.item-contacts-info
	padding-left 30px
	padding-top 30px
	
	p + p
		margin-top 8px
		






// conteudo que se alterna left/right
// ===============

.item-alternate
	@media (max-width desktop - 1)
		padding 0 20px
	
	.row
		align-items center
		padding 80px 0
		

	.item-alternate-wrap
		@media (min-width desktop)
			
			// linhas pares
			// =========
				
			&:nth-of-type(even)
				.row
					flex-direction row-reverse
				
					p
					h3
					.item-section--button
						text-align right
				


			// linhas impares
			// ========
				
			&:nth-of-type(odd)
				.row
					.item-alternate--image
						text-align right
						

					.item-section--button
						text-align left
					


.item-alternate--title
	margin-bottom 40px
	
	@media (max-width tablet - 1)
		text-align center
	
	> *
		font-family fontMaster
		font-size 40px
		font-weight 300
	

.item-alternate--text
	@media (max-width tablet - 1)
		text-align center

		
	+ .item-alternate--button
		margin-top 60px
	
	p
		line-height 1.8
		

.item-alternate--image
	position relative
	
	@media (min-width tablet) and (max-width desktop - 1)
		text-align right
		
	@media (max-width tablet - 1)
		text-align center
	
	img
		height auto
		max-width 100%
		position relative
		z-index 1000



// missao visao
// ============

.item-grid--mission---li
	padding 0 30px
	

.item-grid--mission---icon
	margin-bottom 20px
	
	
	svg
		height 54px
		fill white
		width 54px


.item-grid--mission---icon
.item-grid--mission---title
	text-align center


.item-grid--mission---title
	color white
	margin-bottom 20px
	

.item-grid--mission---text
	color white
	
	p
		font-size 13px
		line-height 1.7
		text-align center

// back to top
// ===========

.item-back-to-top
	background #4ca2d1 url(../img/arrow.png) no-repeat 48% 46%
	border-radius 50%
	bottom 8vh
	cursor pointer
	display none
	height 54px
	position fixed
	right 10px
	transition background .4s ease
	width 54px
	z-index 1000
	
	&:hover
		background lighten(#4ca2d1, 10) url(../img/arrow.png) no-repeat 48% 46%
		



.item-slider
	padding 0 20px
	position absolute
	top 50%
	transform translateY(-50%)
	width 100%
	z-index 1