.item-banner--fullscreen
	align-items center
	background-size cover
	color white
	display flex
	flex-flow column wrap
	height 100vh
	justify-content center
	position relative
	
	&:after
		background-color rgba(black, .6)
		content ''
		height 100%
		position absolute
		width 100%
		
.item-banner--fullscreen---primary
.item-banner--fullscreen---second
	position relative
	z-index 2
	
.item-banner--fullscreen---primary
	font-family fontMaster
	font-size 48px
	font-weight 700
	
	h2
		font-family inherit
		font-size inherit
		
		&:after
			display none
	
.item-banner--fullscreen---second
	font-size 36px
	font-weight 300
	

.item-banner--fullscreen---downbutton
	bottom 20px
	position absolute
	z-index 2
	
	a
		align-items center
		background-color #2899ce
		border-radius 50%
		display flex
		justify-content center
		height 60px
		width 60px




// ====================
// ====================

.item-grid--portfolio---image
	align-items baseline
	display flex
	width 100%
	// position absolute
	// right 0

.item-grid--portfolio---screenshot
	img
		@extends .img-max-responsive
		
	> div
		position relative

.item-grid--portfolio---screenshot----mobile
	transform translateY(20px)
	z-index 3

.item-grid--portfolio---screenshot----tablet
	transform translate(-20px, 10px)
	z-index 2
	
.item-grid--portfolio---screenshot----notebook
	transform translate(-60px, -14px)
	z-index 1





// ====================
// ====================

.item-grid--portfolio---text
	background-color #e1caca
	padding 60px 80px

.item-grid--portfolio---text----title
	font 60px fontSecond





// ====================

.item-grid--service-list---item
	text-align center
	

.item-grid--service-list---title
	font-family fontSecond
	font-size 24px
	margin-bottom 10px
	

.item-grid--service-list---icon
	line-bottom--center()
	
	svg
		height 120px
		width 120px
		

// .item-grid--service-list---description
