// ===========
// header
// ===========

.header
	backface-visibility hidden
	position fixed
	width 100%
	z-index 2000
	
	@media (min-width menuViewPort)
		position absolute
	

	&.sticky
		@media (min-width menuViewPort)
			animation sticky .6s ease
			background-color white
			border-top none
			box-shadow 0 2px 2px rgba(black, .2)
			display flex
			position fixed
			top 0
			width 100%
			z-index 100
			

@keyframes sticky
	0%
		transform translateY(-100%)	
	100%
		transform translateY(0)





// header wrap
// ======================

.header--wrap
	align-items center
	display flex
	height 120px
	justify-content space-between
	overflow hidden
	position relative
	custom-size(siteWidth)

	.sticky &
		@media (min-width menuViewPort)
			height 80px
			
		@media (min-width 1280px)
			padding 0 40px




// header logo
// =============

.header--logo
	.sticky &
		margin-right 40px
		
	svg
		fill white
		height 78px
			
		body.projects &
		body.contact &
			path
				fill #5066AF
				
				&#w
					fill #6E3895

		.sticky &
			height 40px
			width 150px
		
		path
			.sticky &
				fill #5066AF
				
				&#w
					fill #6E3895
	
	img
		@media (max-width menuViewPort - 1)
			width 200px
			
		@media (min-width menuViewPort)
			width 200px
			
		.sticky &
			@media (min-width menuViewPort)
				width 200px





// header hamburguer
// ==============

.header--hamburguer
	position absolute
	right 16px
	top 40px
	
	header.sticky &
		display none





// header menu wrap
// ==================

.header--menu---wrap
	@media (max-width menuViewPort - 1)
		position absolute
		right 0
		top 90px
		transition transform .4s ease .1s
		transform translateX(120%)
		
		.active&
			height calc(100vh - 150px)
			overflow auto
			transform translateX(0px)
		
	@media (min-width menuViewPort)
		display flex
		padding-bottom 10px
	
	.sticky &
		flex 1 1






// ============
// footer
// ============

.footer
	background-color lightColorMaster
	padding 20px 0
	
.footer--main
	font-size 12px
	text-align center
	
	p
		line-height 1.8