// ====================
// section
// ====================
section
	padding 70px 0
	
	// espacamento
	// =========
	&.gap
		padding 50px 0
		
	&.no-gap
		padding 0
	
	// fundo
	// ========
	&.gray
		background-color #f5f5f5
		
	// toda section que terminar com --light fica com fundo cinza
	// ==============
	&[class$="--light"]
		@extends section.gray
	


	// ====================
	// ====================
	
	&:nth-of-type(1)
		.main &
			padding-top 0
			

	&:nth-last-of-type(1)
		.main &
			padding-bottom 0


	// =====================
	
	&.banner-squares--left-top
		position relative
		
		.home &
			@media (min-width menuViewPort)
				margin-top -140px
			
		.about-us &
			padding-top 0

		&:before
			background url(../img/squares--gray.png) no-repeat
			content ''
			height 180px
			left 0
			max-width 600px
			position absolute
			top -40px
			width 100%
			


	&.grid--alternate
		.row
			position relative
			z-index 2
	





	// background full
	// ===============
		
	&.bg--full
		background-position left center
		

		.about-us &
			padding-bottom 0
			

		.contact &
			background-position center
			min-height 100vh
			padding-top 140px
			position relative
			
			// &:before
			// 	background linear-gradient(to bottom, rgba(black, .3), rgba(black, 0))
			// 	content ''
			// 	height 200px
			// 	position absolute
			// 	width 100%
			// 	top 0
			
			> .container
				max-width 768px
				


	// projects
	// ===========
	
	&.grid--portfolio
		.projects &
			padding-top 100px
			



	// services
	// ========
		
	&.no-lateral-gap
		.row
			padding-left 0
			padding-right 0
			


