@import 'settings/_vars' /* variaveis (breakpoints, cores, fonts) */
@import 'settings/_functions' /* funcoes */
@import '_fonts' /* fonts */
@import 'vendor/_reset' /* reset (Eric Meyer) */
@import '_layout' /* Contem o Header, Footer */
@import 'vendor/_grid' /* CSS Grid (Flexboxgrid) */
@import 'settings/_extends' /* Class basicas reutilizadas em todo projeto */
@import '_base' /* Elementos genericos (html, body) */
@import 'generic-elements/_headings' /* H1, H2, H3... */
@import 'generic-elements/_hamburguer' /* Menu hamburguer */
@import 'generic-elements/_menu' /* Menu principal do site */
@import 'generic-elements/_buttons' /* Botoes */
@import 'generic-elements/_forms' /* Formularios (inputs, selects) */
@import 'generic-elements/_acordion' /* Acordion */
// @import 'generic-elements/_tabs' /* Abas */
@import 'generic-elements/_videos' /* Video responsivo */
@import 'generic-elements/_modal' /* Janela Modal */
@import 'settings/_animations' /* Animacoes quando entra o elemento no browser */
@import '_section' /* elementos blocos que englobam os cards */
@import '_cards' /* elemento especifico dentro do bloco */
@import '_item' /* itens que estao dentro dos cards */
@import 'main' /*  */
@import 'vendor/_swiper-slider' /* Slider Swiper iDangerous */
@import 'vendor/_slider-settings' /* Ajustes no slider */
@import 'vendor/_instagram-settings' /* Ajustes no Instagram */
@import 'vendor/_fancybox3' /* Load Fancybox 3 */