extends ./layout.pug

block title
	- var titlePage = 'Home'

block vars
	- var bodyClass = ''
	- var lang = 'pt'


block content
	main.main
		section.banner--video
			.item-banner--fullscreen(style="background-image: url(" + baseHref + "img/_content/angola.jpg);")
				.item-banner--fullscreen---primary
					h2 Temos expertise em soluções para internet
		
				.item-banner--fullscreen---second
					p Somos uma equipe com base em Angola

		section.grid--alternate
			.container
				.row
					.col-xs-12
						.item-title
							h2 O que nós fazemos

				.card-grid--alternate
					.row
						.col-xs-12
							p Nós temos <b>soluções especializadas</b> em informática para empresas, cooperativas, profissionais liberais.
						
							p Contamos com uma <b>equipe altamente qualificada</b>, capaz de oferecer serviço de <b>ótima qualidade</b> por um <b>valor justo</b>.

		section.grid--portfolio
			.container
				.row
					.col-xs-12
						.item-title
							h2 Últimos trabalhos em web design

				.row(style="align-items: center;")
					.col-xs-12.col-sm-6
						.item-grid--portfolio---text
							.item-grid--portfolio---text----title
								p Coop Cae
								
							.item-grid--portfolio---text----description
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi tenetur qui est quo consequuntur, esse iure tempora delectus alias error vel hic nemo repudiandae quae, unde. Dignissimos animi, nemo facilis.

					.col-xs-12.col-sm-6
						.card-grid--portfolio
							ul
								li
									.item-grid--portfolio---image
										.item-grid--portfolio---screenshot
											.item-grid--portfolio---screenshot----mobile
												img(src=baseHref + "img/_content/screenshot/coop/mobile.png", alt="")
										.item-grid--portfolio---screenshot
											.item-grid--portfolio---screenshot----tablet
												img(src=baseHref + "img/_content/screenshot/coop/tablet.png", alt="")

										.item-grid--portfolio---screenshot
											.item-grid--portfolio---screenshot----notebook
												img(src=baseHref + "img/_content/screenshot/coop/notebook.png", alt="")