// botao
// ============
.btn
	background-color darkColorTwo
	color white
	display inline-block
	font italic 13px fontSecond
	padding 8px 16px
	font-size 14px
	text-transform uppercase
	transition .4s ease
	
	&:hover
		background-color darken(darkColorTwo, 20)
		

// botao pequeno
// =============
.btn-small
	@extends .btn
	font-size 14px
	padding 7px 30px 7px 22px
	
	&:after
		background url(../img/arrow-white-small.png) no-repeat
		right 20px
		transform translate(75%, -50%)
		
	&:hover
		&:after
				transform translate(100%, -50%)
		


.btn-darken
	@extends .btn
	background-color lightColorMaster
	color white
	
	&:hover
		background-color transparent
		color lightColorMaster
		





// efeito
// ==========

.button {
	appearance none
	background #6e3895
	border-radius 28px
	border none
	color white
	cursor pointer
	font-family fontMaster
	font-size 18px
	font-weight 700
	letter-spacing 2px
	outline none
	overflow hidden
	padding 17px 42px
	position relative
	text-transform uppercase
	
	span {
		position: relative;
		pointer-events: none;
	}
	
	&::before {
		--size: 0;

		content: '';
		position: absolute;
		left: var(--x);
		top: var(--y);
		width: var(--size);
		height: var(--size);
		background: radial-gradient(circle closest-side, #ce8229, transparent);
		transform: translate(-50%, -50%);
		transition: width .2s ease, height .2s ease;
	}
	
	&:hover::before {
		--size: 400px;
	}
}