// ==============================
// hamburguer
// ==============================

.hamburguer
	cursor pointer

.menu-icon
	hamburger-generator(29px, 3px, 4px, white, $timing-function: ease)
	

.navigation-toggle
	display inline-block
	
	@media (min-width menuViewPort)
		transform translate(11px, 18px)
	
	&.active
		.menu-icon
			hamburger-animation()

			&:before
			&:after
				@media (min-width menuViewPort)
					background-color white



.menu-icon
	@media (max-width menuViewPort - 1)
		.sticky &
		.active &
			background-color darkColorTwo
			
			&:before
			&:after
				background-color darkColorTwo
	