// ===================
// headings
// ===================

h1
	color darkColorTwo
	font-size 29px
	font-weight 300
	text-transform uppercase

	
	@media (min-width desktop)
		font-size 32px
		letter-spacing 10px

h2
	// color lightColorMaster
	// font-family fontSecond
	font-size 22px

	@media (min-width tablet)
		font-size 27px

h3
	font-family fontSecond
	font-size 20px

	@media (min-width tablet)
		font-size 24px

h4
	font-size 17px

	@media (min-width tablet)
		font-size 19px
