.menu--primary
	position relative
	
	header:not(.sticky) &
		@media (min-width menuViewPort)
			transition .7s cubic
			transform translateX(100%)
			
			&.active
				transform translateX(-60px)

	
	@media (min-width menuViewPort)
		display inline-block
	
	> ul
		@extends .flex
		
		@media (max-width menuViewPort - 1)
			flex-direction column
			
				
		@media (min-width menuViewPort)
			justify-content center
			margin-top 20px

		> li
			position relative
			
			+ li
				@media (min-width menuViewPort)
					margin-left 26px
					
					
			&:last-child
				@media (min-width menuViewPort)
					padding-right 0
				
			> a
				font-size 14px
				letter-spacing 2.8px
				text-transform uppercase
				transition color .4s ease
				
				@media (min-width menuViewPort)
					color white
				
				.projects &
				.contact &
					color darkColorTwo
				
				@media (max-width menuViewPort - 1)
					display block
					font-size 20px
					padding 10px 6px 10px 10px
					text-align right
					
					
				&:hover
					@media (min-width menuViewPort)
						color #999
						
				.sticky &
					color darkColorMaster
					
					@media (min-width menuViewPort)
						font-size 13px
					
			// &.current-menu-item
			// 	a
			// 		@media (min-width menuViewPort)
			// 			color #000
	



// ===============

.menu--language
	@media (min-width menuViewPort)
		position absolute
		right 3px
		transform translateY(-18px)
	
	.sticky &
		@media (min-width menuViewPort)
			display none

	ul
		display flex
	
		@media (max-width menuViewPort - 1)
			justify-content flex-end
			margin-top 30px
			padding-right 7px
		
		li
			+ li
				margin-left 10px
				
			a
				background-image url(../img/flags.png)
				background-repeat no-repeat
				height 17px
				overflow hidden
				text-indent -9999px
				width 30px
				
				&.pt
					background-position 0 0
					
				&.en
					background-position -40px 0



// menu footer
// =============

.menu--footer
	margin-bottom 20px
	
	ul
		display flex
		justify-content flex-end
		
		li
			+ li
				margin-left 20px
				

			a
				color white
				font-size 13px
				letter-spacing 1px
				text-transform uppercase




// ===================

.menu-overlay
	background-color rgba(white, .97)
	height 100%
	left 0
	opacity 0
	pointer-events none
	position fixed
	top 0
	transition .4s cubic
	width 100%
	z-index 1000
	
	@media (min-width menuViewPort)
		z-index 5000
	
	&.active
		@media (max-width menuViewPort - 1)
			opacity 1
			pointer-events all





// ===============

.menu--social
	.header &
		@media (min-width menuViewPort)
			position absolute
			right 50px
			transform translateY(-18px)
			
	
	.sticky &
		display none

	ul
		display flex
		
		.footer &
			justify-content flex-end
			margin-top 20px
		
		li
			+ li
				margin-left 10px
		
		svg
			fill lightColorMaster
			height 17px
			transition transform .4s ease
			width 17px
			
		a
			&:hover
				svg
					transform translateY(-2px)
					

	.open-modal
		color white
		font-size 13px