extends ../layout.pug

block title
	- var titlePage = 'Sobre nós';

block vars
	- var bodyClass = 'about-us';
	- var lang = 'pt';


block content
	main.main
		section.about-us.bg--full(style="background-image: url("+ baseHref + "img/_content/businessman.jpg)")
			.container
				.row
					.col-xs-12
						.item-about-us--wrap
							.item-about-us--float
								.item-about-us--title
									h1 Quem somos
								.item-about-us--text
									p A NSWS-Solution - é uma jovem empresa angolana existente desde 2006, actuando no seu Core Business: Sistemas e Tecnologias de Informação, baseada numa equipa de profissionais experientes nas áreas de Hardware, infra-estruturas, segurança, consultoria, programação, webdesign, Helpdesk e ainda comercialização de todo tipo de materiais e equipamentos informáticos, com grande experiência e formação.
									
									p A NSWS-Solution foi criada para apoiar as pequenas, médias e grandes empresas nas suas necessidades tecnológicas, tendo uma gama de serviços e produtos de informática e tecnologias de informação que permitem às empresas ter tecnologia de ponta a custos muito competitivos.

		section.banner-squares--left-top#contact
			.item-banner-squares--banner(style="background-image: url("+imgHref+"img/coffee.jpg)")
				.item-section--title
					h2 Contacto
				
				.item-banner-squares--text
					p +244 925 934 090
					p +244 923 739 775

					p
						a(href="mailto:info@nswsolution.com") info@nswsolution.com